*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}


html {
    padding: 0;
    margin: 0;
    font-family: arial;
    height: 100%;
    color: #999;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    flex-grow: 1;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 2em;
    margin: 0 0 30px 0;
}

input[type="email"], input[type="password"] {
    padding: 15px;
    width: 100%;
    font-size: 1em;
    border: 0;
    border-radius: 5px;
    color: #b3b3b3;
    background-color: #333333;
    margin-bottom: 15px;
}

button {
    background-color: #E50914;
    color: white;
    padding: 15px;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

#option {
    color: #b3b3b3;
    margin-top: 10px;
    display: block;
    font-size: 0.9em;
}

#login-body {
    max-width: 450px;
    margin: auto;
    background-color: rgba(0,0,0,.75);
    color: white;
    border-radius: 5px;
    padding: 50px;
    margin-top: 50px;
}

.grey {
    color: #777;
}

.alert {
    padding: 10px;
    margin: 30px 0;
    color: white;
    border-radius: 5px;
}

.success {
    background-color: green;
}

.error {
    background-color: red;
}

.container {
    width: 1000px;
    margin: 0 auto;
}
