*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    min-height: 100%;
}

.text-animation{
    margin: 20px 0 0 80px;
}

